<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>あああ</title>
       <!-- <link  
            rel="stylesheet"
            href="{{ url_for('crud.static',filename='style.css') }}"
        /> -->
    </head>

    <body>
        <iframe src="https://calendar.google.com/calendar/embed?src=5a176a65ee100ff71ed7ee5907832d766a6bf905119b0bc0fd8952c86ccdad98%40group.calendar.google.com&ctz=Asia%2FTokyo" style="border: 0" width="1100" height="500" frameborder="0" scrolling="no"></iframe>
    </body> 
</html>