<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>あああ</title>
       <!-- <link  
            rel="stylesheet"
            href="{{ url_for('crud.static',filename='style.css') }}"
        /> -->
    </head>

    <body>
        <ul class="menu">
            <li><a href="/project/app_project" target="app">プロジェクト</a></li>
            <li><a href="/chat/app" target="app">チャット</a></li>
            <li><a href="/memo/app" target="app">メモ</a></li>
            <li><a>メールボックス</a></li>
            <li><a href="/calendar/app_calendar" target="app">カレンダー</a></li>
        </ul>
    </body> 
</html>